* {
    box-sizing: border-box;
    padding: 0;
    margin: 30px;
}
.contenitore {
    display: grid;
    grid-template-columns: 3 100px;
    grid-row: 3 100px;
    width: 300px;
    height: 300px;
    background-color: green;
    border: 2px solid black;
    text-align: center;
}

.uno  {
    grid-column: 1;
    grid-row: 1;
    background-color: white;
    width: 30px;
    height: 30px;
    border: 2px solid black;
}
.due  {
    grid-column: 3;
    grid-row: 1;
    background-color: white;
    width: 30px;
    height: 30px;
    border: 2px solid black;
}
.tre  {
    grid-column: 2;
    grid-row: 2;
    background-color: white;
    width: 30px;
    height: 30px;
    border: 2px solid black;
    
.quattro  {
    grid-column: 2;
    grid-row: 3;
    background-color: white;
    width: 30px;
    height: 30px;
    border: 2px solid black;
}


@media screen and (max-width: 992px) {
    .contenitore{
        display: flex;
        flex-direction: column-reverse;
        background-color: chocolate;
        justify-content: center;
        align-items: center;
        width: 200px;
        height: 400px;    }

    }
        
    }
    
}
